@keyframes spin {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 60deg;
  }
  50% {
    rotate: 120deg;
  }
  75% {
    rotate: 280deg;
  }
  100% {
    rotate: 360deg;
  }
}

.nvp-loader-circle {
  display: flex;
  justify-items: center;
  justify-content: center;
  animation: spin 900ms linear infinite;
}
